.bg1{
  background-image: url('../src/images/12.jpg');
  background-size: cover;
}

.warna-tulisan{
  color: white;
}

.jarakAtas{
  margin-top: 20px;
}

.noMarginTop{
  margin-top:-35px;
}

.jarakNavbar{
  position: fixed;
  top:10px;
}

.backgroundNav{
  background-color:white;
  border-radius: 20px;
  padding-left: 30px;
}

.jarakNavLink {
  margin-right: 50px;
  font-size: large;
  font-weight: bold;
}

.backgroundItem{
  background-color: black ;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ukuranJumbotron {
  padding-bottom: 150px;
}

.ukuranJumbotron2{
  padding-bottom: 200px;
}

.tulisanJumbotron{
margin-top: 300px;
}

.jumbotron1{
  background-color: white;
}

.jumbotron2{
  background-color: black;
}

.jumbotron3{
  background-color: white;
}
.jumbotron4{
  background-color: black;
}

.brandStyles{
  margin-left: 20px;
}

.inputStyle { 
  border-radius: 15px;
  outline-color: red;
}